<div class="store-options">
    <select id="store-id" name="store-id">
    <option value=" ">Select a store</option>
    {{#each stores}}
      <option value="{{id}}">{{store_name}}</option>
    {{/each}}
    </select>
</div>