
<section>
    <h2>Add product here</h2>

<form class="add-product-form">
    <label for="product-name">Product Name</label>
    <input type="text" id="product-name" name="product-name" />
    {{!-- change to picking from pre-formatted options --}}
    <label for="product-category">Category</label>
    <input type="text" id="product-category" name="product-category" />
    <label for="description">Description</label>
    <input type="text" id="description" name="description" />
    <label for="size">Size</label>
    <input type="text" id="size" name="size" />
    <label for="price">Price</label>
    <input type="number" id="price" name="price" />
    <label for="rating">Rating</label>
    <input type="number" id="rating" name="rating" />
    
    <label for="store-id">Store</label>
    <select id="store-id" name="store-id">
        {{!-- <option value='new'>Add new store</option> --}}
        <option value='test'>Test option</option>
        {{#each this}}
        <option value={{stores.id}}>{{stores.store_name}}</option>
        {{/each}}
    </select>
    <a href='#add-store' data-rel="popup">Add a new store</a>
    <div data-role="popup" id="add-store">
        <h3>Add Store</h3>
    <form class="add-store-form">
        <label for="store-name">Store Name:</label>
        <input type="text" name="store-name" id="store-name" />
        <label for="city">City:</label>
        <input type="text" name="city" id="city" />
        <label for="state">State:</label>
        <input type="text" name="state" id="state" />
        <label for="zip">Zip code:</label>
        <input type="text" name="zip" id="zip" />
        <button type="submit" class="btn">Add Store</button>
    </form>
</div>

     <button type="submit" class="btn">Create</button>
</form>

</section>  



<script src='/javascript/addProduct.js'></script>
<script src='/javascript/addStore.js'></script>
