<section>
<button class="link" onclick="location.href='/product/add';">Add product</button>
<button class="link" onclick="location.href='/product';">Search/View Products</button>

</section>
<script src="/javascript/signout.js"></script>