<header>
 <a class="logo" href="/home">Buy Smart</a>
</header>
<button class="link" onclick="location.href='/signin';">Sign in</button>
<button class="link" onclick="location.href='/add-product';">Add product</button>
<button class="link" onclick="location.href='/search-view';">Search/View Products</button>