
<div class="product-body">
    <h2>name/price/rank</h2>
    <ul>
        {{#each products}}
            <h2 class="title-text" onclick="window.location.href='/product/view/{{id}}';" style="cursor: pointer;">
                  {{product_name}}  ${{price}} ({{rating}} out of 5)
            </h2>
        {{/each}}
    </ul>
</div>
<a class="link" href="/product/price" id="sortByPrice">sort by price</a>
<br>
<a class="link" href="/product/rank" id="sortByRank">sort by rank</a>
<script src="/javascript/index.js"></script>
