
<header>
 <a class="logo" href="/home">Buy Smart</a>
</header>

<div>
Username:
<input id="userName" type="text">
</div>
<div>
Password:
<input id="passWord" type="text">
</div>
<div>
<button id="signinSubmit">Submit</button>
</div>
<button class="link" onclick="location.href='/signup';">Sign up</button>