<section>
<div>
<label for="email">Email:</label>
<input id="email" for="email" type="text">
</div>
<div>
    <label for="password">Password:</label>
<input id="password" name="password" type="text">
</div>
<div>
<button id="signinSubmit" class="show-page-loading-msg" data-theme="b" data-textonly="false" data-textvisible="true" data-msgtext="Logging in...." data-inline="true">Submit</button>
</div>
<button class="link" onclick="location.href='/signup';">Sign up</button>
<script src="/javascript/spinner.js"></script>
<script src="/javascript/signin.js"></script>
