<header>
 <a class="logo" href="/home">Buy Smart</a>
</header>
<div>
What is you enail:
<input id="email" type="text">
</div>
<div>
Create New Password:
<input id="passWord" type="text">
</div>
<div>
<button id="signupSubmit">Submit</button>
</div>
<button class="link" onclick="location.href='/signin';">Back</button>

<script src="/javascript/signup.js"></script>