<section>
<ul class="product-list">
  <li>
    {{#if product}}
      {{> product-info product }}
     <button class="link" onclick="window.location.href=`/edit/{{product.id}}`;">Edit product</button>
  {{/if}}
  </li>
</ul>
</section>