<section class="product-list">
  {{#if product}}
  {{> product-info product }}
  <button class="link" onclick="window.location.href=`/edit/{{product.id}}`;">Edit product</button>
  {{/if}}
  <button class="link" onclick="window.location.href=`/product`;">Back to veiw </button>
  <button onclick="location.href='/product/add'">Add Product</button>
  <button id="deleteProductButton" class="link">Delete product</button>
</section>
<script src="/javascript/deleteProduct.js"></script>