/* header style */

header {
    background-color: white;
    width: 100%;
    height: 40px;
    position: relative;
    left: 0;
    top: 0;
    border-bottom: solid blue 2px;
    padding-bottom: 5%;
}



form label {
    display: block;
}

ul {
    list-style-type: none;
}

.title-text {
    font-size: 20pt;
    cursor: pointer;
}

.checked {
    color: orange;
}



h2 {
    padding: 0 4%;
}

label {
    padding: 0 4%;
}

a {
    padding: 0 4%;
}

.ui-grid-b:before {
    background-color: #005599;
}

.ui-navbar {
    margin-top: 5%;
}

.homepage {
    padding-top: 10%;
}

.add-product, .edit-product {
    padding: 5%;
}

/* add product page style */

#addProduct {
    height: 20vw;
    width: 34vw;
    text-align: center;
    left: 10px;
    background-image: url("../stylesheets/images/add.png");
    border-radius: 5%;
    background-size: cover;
    color: black;
}

#product {
    height: 20vw;
    width: 34vw;
    text-align: center;
    float: right;
    border-radius: 5%;
    background-image: url("../stylesheets/images/drop.png");
    background-size: cover;
    color: black;
}

/* homepage style */
.homepage {
    background-image: url("../stylesheets/images/backg.jpg");
    background-size: cover;
    height: 600px;
}

/* rating stars */
.hide {
    display: none;
}

/* product page style */
.product-body {
    position: relative;
}

#productInfo {
    border-radius: 5px;
    position: relative;
    margin-left: 0;
}

/* /* If the screen size is 801px wide or more  */
@media screen and (min-width: 801px) {
    .logo {
        float: left;
        font-size: 5vw;
        text-decoration: none;
        margin-left: 20px;
        margin-top: 20px;
        font-family: "Comic Sans MS";
    }
    
    /* signout button */
    
    #signout {
        float: right;
        font-size: 4vw;
        margin-right: 20px;
        margin-top: 30px;
        cursor: pointer;
        color: black;
        font-family: "Comic Sans MS";
    }
  }
  
  /* /* If the screen size is 800px wide or less */
  @media screen and (max-width: 800px) {
    .logo {
        float: left;
        font-size: 8vw;
        text-decoration: none;
        margin-left: 10px;
        margin-top: 10px;
        font-family: "Comic Sans MS";
    }
    
    /* signout button */
    
    #signout {
        float: right;
        font-size: 6vw;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;
        color: black;
        font-family: "Comic Sans MS";
    }
  
  }